@import url('https://fonts.googleapis.com/css2?family=Rochester&family=Rokkitt:ital,wght@0,700;1,700&display=swap');

@import "tailwindcss";

.rochester-regular {
  font-family: "Rochester", cursive;
  font-weight: 400;
  font-style: normal;
}


.mission_image{
  @apply object-cover w-auto h-36 md:w-72 md:h-64 shadow-2xl
}

/* Move bullets like image */
.testimonials-swiper .swiper-pagination {
  bottom: 15em !important;
  left: 1em !important;
  width: auto !important;
  padding-left: 20px;
}
.home-swiper .swiper-pagination {
  bottom: 3em !important;
}
/* Bullet default */
.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  background: gray !important; /* yellow */
  opacity: 1 !important;           /* remove transparency */
  margin: 0 6px !important;
}

/* Active bullet */
.swiper-pagination-bullet-active {
  background: #2F5D50 !important;     /* black */
}

@media (max-width: 768px) {
  .about-img-overlay {
    top: 2rem !important;
    right: 1rem !important;
  }
}

@media only screen and (max-width: 800px) {
  .testimonials-swiper .swiper-pagination {
    visibility: hidden;
  }

  /* Bullet default */
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
}

  .home-swiper .swiper-pagination {
  bottom: 1em !important;
}

}

