@import url('https://fonts.googleapis.com/css2?family=Rochester&family=Rokkitt:ital,wght@0,700;1,700&display=swap');

@import "tailwindcss";

.rochester-regular {
  font-family: "Rochester", cursive;
  font-weight: 400;
  font-style: normal;
}


.mission_image{
  @apply object-cover w-auto h-36 md:w-72 md:h-64 shadow-2xl
}

/* Move bullets like image */
.testimonials-swiper .swiper-pagination {
  bottom: 15em !important;
  left: 1em !important;
  width: auto !important;
  padding-left: 20px;
}
.home-swiper .swiper-pagination {
  bottom: 3em !important;
}
/* Bullet default */
.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  background: gray !important; 
  opacity: 1 !important;           /* remove transparency */
  margin: 0 6px !important;
}

/* Active bullet */
.swiper-pagination-bullet-active {
  background: #2F5D50 !important;     
}

/* panorama-swiper */

 .panorama-swiper {
    padding: 0 !important;
    margin: 0 !important;
    padding-bottom: 50px !important;
    perspective: 1200px;
    transform-style: preserve-3d;
    }
        
  .panorama-swiper .swiper-wrapper {
    align-items: center;
  }
  
  .panorama-swiper .swiper-slide {
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scale(0.7);
    opacity: 0.45;
    width: 210px !important;
  }
  
  .panorama-swiper .swiper-slide-active {
    transform: scale(1);
    opacity: 1;
    z-index: 10;
    width: 250px !important;
  }
  
  .panorama-swiper .swiper-slide-prev,
  .panorama-swiper .swiper-slide-next {
    transform: scale(0.8);
     width: 240px !important;
  } 

@media (max-width: 768px) {
  .about-img-overlay {
    top: 2rem !important;
    right: 1rem !important;
  }
}

@media only screen and (max-width: 800px) {
  .testimonials-swiper .swiper-pagination {
    visibility: hidden;
  }

  /* Bullet default */
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
}

  .home-swiper .swiper-pagination {
  bottom: 1em !important;
}
  
}


/* Small screens - mobile fix */
@media only screen and (max-width: 768px) {
  .panorama-swiper .swiper-slide {
    height: 160px !important;
    width: 35% !important;
  }
  .panorama-swiper .swiper-slide-prev,
  .panorama-swiper .swiper-slide-next {
    height: 180px !important;
     width: 25% !important;
  } 
  .panorama-swiper .swiper-slide-active {
    height: 200px !important;
    transform: scale(1);
    width: 30% !important;
  }
}

/* Extra small screens */
@media only screen and (max-width: 480px) {
  .panorama-swiper .swiper-slide {
    width:100% !important;
  }
  .panorama-swiper .swiper-slide-active {
    width: 100% !important;
  }
}






